*{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
    padding:0;
    background-color:#FFF8F3 ;
  }

/* nav bar */
.navbar{
    display:flex;;
    justify-content:space-between;
    align-items:center;
    background-color:#610C63;
    color:#FFF8F3;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  
  }

  .navbar a{
    all : unset;
    color:white;
  }
  
  .brand-title{
    font-size:2rem;
    margin:0.5rem;
  }
  
  .navbar-links ul {
    margin:0;
    padding:0;
    display:flex;
  }
  
  .navbar-links li{
    list-style:none;
  }
  
  .navbar-links li a{
    text-decoration:none;
    color:white;
    padding:1rem;
    display:block;
  }
  
  .navbar-links li:hover{
    background-color:#4EF037;
  }
  
  .log{
    background-color:#4EF037 ;
  }
  
  .toggle-button{
    position:absolute;
    top:.75rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:30px;
    height:21px;
  }
  
  .toggle-button .bar{
    height:3px;
    width:100%;
    background-color:white;
    border-radius:10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #610C63;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #dc5d62;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .drop-menu:hover .dropdown-content {
    display: block;
  }

  .container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    
  }
  

  .box{
    width: 10rem;
    height: 10rem;
    background-color: #FDEFF4;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
  }

  .img-div{
    height: 70%;
  }

  .box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 7rem;
  }

.description{
    text-align: center;
    background-color: #dc5d62;
    height: 3rem;
}

.des-btn{
    border: none;
    width: 100%;
    height: 100%;
    background-color: #76BA99;
    color:#FFF8F3;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}

.des-btn a{
    all : unset;
    color:#FFF8F3;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }


.phone{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width:60px;
    height:60px;
    background-color:#610C63;
    border-radius:50px;
  }

  .fa-phone{
    color:#76BA99 ;
  }
  
  .phone i{
    margin-top:0.75rem;
    margin-left:0.7rem;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .15);
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
  }
  .dropup-content a {
    color: #38A3A5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropup-content a:hover {background-color: #ccc}
  
  .phone:hover .dropup-content {
    display: block;
  }

  .back{
    background-color: #610C63;
    position: fixed;
  }

  .back-arrow{
    width: 4rem;
    height: 4rem;
    margin: 2px 2px;
  }

